@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url(/style.css);
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	/* background-color: #ddd; */
    background:linear-gradient(to right,#1d2b7c,#66220b);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
	color: #fff;
}
.content-section .content h3{
	margin-top: 20px;
	color:#a52a2a;
	font-size: 21px;
    text-transform: uppercase;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 45px 18px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 99%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
.top-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-height: 30vh; 
    text-transform: uppercase;
	margin-top: 1em;

}
.title h2{
	color: #fff;
	font-weight: bolder;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 1em;
}
.title p{
	color: aliceblue;
	margin-top: 1em;
	font-weight: bold;
}
.contact-page{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	border: 1px solid black;
	background:linear-gradient(to right,#091557,#471606);
}
.left-content{
	/* border: 7px solid green; */
	width: 35%;
	display: inline-flex;
	justify-content: center;
	background-color: #fff;
}
.left-content img{
	/* border: 5px solid rebeccapurple; */
	display: inline;
	width: 100%;
    height: 20em;
}
.right-content{
	/* border: 1px solid red; */
	display:flex;
	flex-direction: column;
    width: 49%;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 2em;
	
}
.inputs{
/* border: 2px solid yellow; */
display: flex;
flex-direction: column;
gap: 0.5em;
flex-shrink: 2;
}
.inputs input{
	width: 20em;
    height: 2.5em;
    /* border-radius: 15px; */
	padding: 1rem;
	
}
.wrapper{
	display: inline-flex;
	margin-top: 5em;
	justify-content: space-around;
	
}
input.Query{
	width: 20em;
    height: 3.5em;
	padding: 1rem;
	margin-top: 1rem;
}
button.btn{
	width: 10em;
	height: 3em;
	margin-top: 1rem;
	border-radius: 5px;
	background-color:#091557;
	color: #fff;
	border: none;
}
button.btn:hover{
	background-color: #66220b;
	cursor: pointer;
	transition: 0.5s all;
}
@media screen and (max-width: 768px){
	.left-content{
		/* border: 7px solid green; */
		width: 35%;
		
		display: inline-flex;
		justify-content: center;
		background-color: transparent;
	}
	.left-content img{
		/* border: 5px solid rebeccapurple; */
		display: inline;
		width: 100%;
		height: 10em;
	}
	.right-content{
		width: 40%;
	}
	.inputs input{
		width: 15em;
		height: 2em;
		/* border-radius: 15px; */
		padding: 1rem;
		
	}
	input.Query{
		width: 16em;
		height: 3em;
	}
	button.btn{
		width: 8em;
		height: 3em;	
	}
	.title h2{
		width: 10em;
		text-align: center;
	}
	.title p{
		color: rgb(189, 32, 110);
		text-align: center;
	}
} 